@model IEnumerable<Topic>
@{
    ViewData["Title"] = "Index";
}

<br />
<h2>Discussions</h2>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Topic
            </th>
            <th>
                Messages
            </th>
            <th>
                Last message
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>
                    @obj.Header
                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
        }
    </tbody>
</table>